// Style Guide Typography

.l-sgc {
  & > h1,
  & > h2,
  & > h3 {
    padding-top: $base-spacing-unit-small;
    padding-bottom: $base-spacing-unit-small;
  }
  & > h1 {
    @include media($mobile) {
      @include fontsize(22);
    }
    @include media($tablet) {
      @include fontsize(28);
    }
    @include media($desktop) {
      @include fontsize(32);
    }
  }
  & > h2 {
    color: $grey75;
    @include media($mobile) {
      @include fontsize(20);
    }
    @include media($tablet) {
      @include fontsize(24);
    }
    @include media($desktop) {
      @include fontsize(26);
    }
  }
  & > h3 {
    @include media($mobile) {
      @include fontsize(16);
    }
    @include media($tablet) {
      @include fontsize(20);
    }
    @include media($desktop) {
      @include fontsize(22);
    }
  }
  & > p {
    padding-bottom: $base-spacing-unit-small;
    @include media($mobile) {
      @include fontsize(12);
    }
    @include media($tablet) {
      @include fontsize(14);
    }
    @include media($desktop) {
      @include fontsize(16);
    }
  }
  & i {
    margin-right: $base-spacing-unit-tiny;
  }
}
