.alert.error tabindex="0" aria-live="assertive" role="alertdialog"
  button.close type="button" tabindex="0" aria-label="Close Alert" &times;
  i.fa.fa-times-circle aria-hidden="true"
  | error alert message
