// Navigation Blocks Shared

.mnu-hrz, .mnu-vrt {
  background-color: $grey05;
  border: solid 1px $grey20;
  margin: $base-spacing-unit-small 0 0 0;
  & > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

// Horizontal Navigation Block

.mnu-hrz ul {
  & > li {
    display: inline;
    & > a {
      line-height: ($base-font-size + $base-spacing-unit);
      padding: ($base-spacing-unit-small - 2) $base-spacing-unit;
      color: $grey80;
      border-right: solid 1px $grey15;
      text-decoration: none;
      &:hover {
        color: $black;
        text-decoration: underline;
      }
    }
  }
}

// Vertical Navigation Block

.mnu-vrt {
  padding: $base-spacing-unit;
  & > h4 {
    padding: 0 0 $base-spacing-unit 0;
    margin: 0;
    color: $grey100;
  }
  & ul > li {
    display: block;
    padding: $base-spacing-unit-tiny 0;
    border-top: solid 1px $grey15;
    &:last-child {
      border-bottom: solid 1px $grey15;
    }
    & > a {
      color: $grey80;
      text-decoration: none;
      &:hover {
        color: $black;
        text-decoration: underline;
      }
    }
  }
}
