/* Vertical Navigation */

.sty-nav {
  background-color: $grey05;
  border: solid 1px $grey20;
}
.vert-right {
  padding: $base-spacing-unit;
  & > h4 {
    padding: 0 0 $base-spacing-unit-small 0;
    margin: 0;
    color: $grey100;
  }
  & > a {
    display: block;
    padding: $base-spacing-unit-tiny 0;
    color: $grey80;
    text-decoration: none;
    border-top: solid 1px $grey15;
    &:last-child {
      border-bottom: solid 1px $grey15;
    }
    &:hover, :focus {
      color: $grey60;
      text-decoration: underline;
    }
  }
}
