/! Members : Header
= PUGIN.get_component ('modules/header')

/! Members : Breadcrumbs
= PUGIN.get_component('modules/breadcrumb', {breadcrumbs: [{place: "House of Commons", slug: ""}, {place: "Members", slug: ""}]})

/! Members : Profile Card
= PUGIN.get_component('modules/card', {name: "FirstName Surname", info_title: "InfoTitle", info_url: "#{request.original_url}", info_description: "Description", img_src: "/_img/avatar-116x175.png"})

/! Members : Party
= PUGIN.get_component('modules/panel', {title: "Party", description: "Party Name"})

/! Members : Contact Block
= PUGIN.get_component('modules/contact', { address: [{Email: "Email Address", Phone: "Phone Number" , Address: "Street Address", Website: "Website"}]})

/! Members : Footer
= PUGIN.get_component ('modules/footer')
