// Style Guide Colour Palette

.sg-colour {
  & > p {
    width: 100%;
    height: 100px;
    border: solid 1px $black;
  }
  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    & > li {
      padding: $base-spacing-unit-tiny 0 0;
      font-size: 15px;
      text-align: center;
    }
    & > li:last-child {
      padding: 0 0 $base-spacing-unit-tiny 0;
    }
  }
  // Mobile View
  @include media($mobile) {
    @include span-columns (4);
  }
  // Tablet View
  @include media($tablet) {
    @include span-columns (3.33);
    @include omega(3n);
  }
  // Desktop & Widescreen View
  @include media($desktop) {
    @include span-columns (4);
  }
}

// Set Colour Arrays (Names & Variables)

$colour-names: black grey100 grey80 grey75 grey60 grey40 grey30 grey20 grey15 grey10 grey05 white;
$colour-vars: $black $grey100 $grey80 $grey75 $grey60 $grey40 $grey30 $grey20 $grey15 $grey10 $grey05 $white;

// Loop To Apply Appropriate Background Colour To Each Colour Block

@each $colour-name in $colour-names {
  $i: index($colour-names, $colour-name);
  .#{$colour-name} {
    background: nth($colour-vars, $i);
  }
}
