// Navigation Blocks Shared

.mnu-hrz,
.mnu-vrt {
  background-color: $grey05;
  color: $grey50;
  & > ul {
    margin: 0;
    padding: 0;
    list-style-image: none;
  }
}

// Horizontal Navigation Block

.mnu-hrz {
  margin-top: $base-spacing-unit-tiny;
  margin-bottom: $base-spacing-unit-tiny;
  & > ul {
    & > li > a {
      color: $grey80;
      text-decoration: none;
      &:hover,
      &.active {
        color: $black;
        text-decoration: underline;
      }
    }
  }
  // Mobile View
  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
    & > ul {
      & > li {
        border-bottom: solid 1px $grey20;
        padding-left: $base-spacing-unit-small;
        padding-top: $base-spacing-unit-tiny;
        padding-bottom: $base-spacing-unit-tiny;
      }
      & > li:first-child {
        border-top: solid 1px $grey20;
      }
    }
  }
  // Tablet & Desktop View
  @include media($tablet) {
    border: solid 1px $grey20;
    @include span-columns(9.8);
    @include shift(0.1);
    & > ul > li {
      display: inline-block;
      border-right: solid 1px $grey15;
      & > a {
        line-height: ($base-font-size + $base-spacing-unit);
        padding: ($base-spacing-unit-small - 2) $base-spacing-unit;
      }
    }
  }
  // Widescreen View
  @include media($widescreen) {
    @include span-columns(12);
    @include shift(0);
  }
}

// Vertical Navigation Block

.mnu-vrt {
  padding: $base-spacing-unit;
  border: solid 1px $grey20;
  & > h3 {
    margin: 0;
    padding-bottom: $base-spacing-unit;
    color: $grey100;
  }
  & ul > li {
    display: block;
    padding-top: $base-spacing-unit-tiny;
    padding-bottom: $base-spacing-unit-tiny;
    border-top: solid 1px $grey15;
    &:last-child {
      border-bottom: solid 1px $grey15;
    }
    & > a {
      color: $grey80;
      text-decoration: none;
      &:hover,
      &.active {
        color: $black;
        text-decoration: underline;
      }
    }
  }
  // Mobile View
  @include media($mobile) {
    margin-top: $base-spacing-unit;
    margin-bottom: $base-spacing-unit-large;
  }
  // Tablet, Desktop & Widescreen View
  @include media($tablet) {
    margin-top: $base-spacing-unit;
    margin-bottom: $base-spacing-unit-large;
  }
}
