// Navigation Blocks Shared

.mnu-hrz,
.mnu-vrt {
  background-color: $grey05;
  color: $grey50;
  & > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

// Horizontal Navigation Block

.mnu-hrz {
  margin-top: 0;
  margin-bottom: $base-spacing-unit-tiny;
  & > ul {
    border-top: solid 1px $grey20;
    border-left: solid 1px $grey20;
    border-right: solid 1px $grey20;
    & > li {
      border-bottom: solid 1px $grey20;
      padding-left: $base-spacing-unit-small;
      padding-top: $base-spacing-unit-tiny;
      padding-bottom: $base-spacing-unit-tiny;
    }
    & > li > a {
      color: $grey80;
      text-decoration: none;
      &:hover,
      &.active {
        color: $black;
        text-decoration: underline;
      }
    }
  }
  // Mobile View
  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
    margin-top: $base-spacing-unit-tiny;
    & > ul {
      border-top: none;
      border-left: none;
      border-right: none;
      & > li:first-child {
        border-top: solid 1px $grey20;
      }
    }
  }
  // Tablet & Desktop View
  @include media($tablet) {
    @include span-columns(9.8);
    @include shift(0.1);
    margin-top: $base-spacing-unit-tiny;
    border: solid 1px $grey20;
    & > ul {
      border-top: none;
      border-left: none;
      border-right: none;
      & > li {
        display: inline-block;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        border-right: solid 1px $grey15;
        & > a {
          line-height: ($base-font-size + $base-spacing-unit);
          padding: ($base-spacing-unit-small - 2) $base-spacing-unit;
        }
      }
    }
  }
  // Widescreen View
  @include media($widescreen) {
    @include span-columns(12);
    @include shift(0);
  }
}

// Vertical Navigation Block

.mnu-vrt {
  margin-top: 0;
  margin-bottom: $base-spacing-unit-large;
  padding: $base-spacing-unit;
  border: solid 1px $grey20;
  & > h3 {
    margin: 0;
    padding-bottom: $base-spacing-unit;
    color: $grey100;
  }
  & ul > li {
    display: block;
    padding-top: $base-spacing-unit-tiny;
    padding-bottom: $base-spacing-unit-tiny;
    border-top: solid 1px $grey15;
    &:last-child {
      border-bottom: solid 1px $grey15;
    }
    & > a {
      color: $grey80;
      text-decoration: none;
      &:hover,
      &.active {
        color: $black;
        text-decoration: underline;
      }
    }
  }
  // Desktop View
  @include media($desktop) {
    margin-top: $base-spacing-unit;
    margin-bottom: 0;
  }
}
