// Style Guide Preview & Markup Blocks

.sg {
  &-preview, &-markup {
    margin: 0 0 $base-spacing-unit-small 0;
    border: solid 1px $grey20;
  }
  &-preview {
    padding: $base-spacing-unit-tiny;
    & > ul, & > ol {
      margin: $base-spacing-unit-tiny 0 0 $base-spacing-unit;
    }
    & > dl {
      margin: 0 0 0 $base-spacing-unit-small;
    }
  }
  &-markup {
    padding: 0 $base-spacing-unit-tiny;
  }
}
