/* Base Styles for UK Parliament Style Guide */

.sty-head {
  width: 100%;
  background-color: $black;
}

.sty-wrap {
  width: 100%;
  padding: 0 0 $base-spacing-unit;
  &:after {
    clear: both;
    display: block;
    content: '';
  }
  & i {
    margin: 0 $base-spacing-unit-tiny 0 0;
  }
}

/* Style Guide Typography */

.pds-panel > h3 {
  margin: 0;
}

.sty-typ {
  margin: 0;
  padding-left: 0;
  &-head1 {
    font-size: 32px;
    padding: $base-spacing-unit-small 0 0 0;
  }
  &-head2 {
    font-size: 28px;
    color: $grey75;
    padding: $base-spacing-unit-small 0 0 0;
  }
}

/* Style Guide Feature Block */

.sty-blk {
  margin: $base-spacing-unit-small 0;
  background-color: $grey10;
  border: solid 1px $grey20;
  &-git {
    padding: $base-spacing-unit 0 0 0;
    text-align: right;
  }
}

/* Style Guide Component Breakdown */

.sty-cmp {
  &-preview {
    padding: $base-spacing-unit-small $base-spacing-unit;
    border: solid 1px $grey20;
  }
  &-markup {
    padding: 0 $base-spacing-unit-tiny;
    border: solid 1px $grey20;
  }
  &-styling {
    padding: $base-spacing-unit-tiny;
    margin: 0 0 $base-spacing-unit-small;
    border: solid 1px $grey20;
    text-align: left;
  }
  &-notes {
    padding: $base-spacing-unit-tiny 0 $base-spacing-unit-tiny $base-spacing-unit-small;
    border: solid 1px $grey20;
  }
}
