.pds-footer-wrap:after {
  clear: both;
  display: block;
  content: '';  
}

/* Base Styles for UK Parliament Style Guide */

.sty-wrap {
  width: 100%;
  padding: $base-spacing-unit 0;

  &:after {
    clear: both;
    display: block;
    content: "";
  }

  & i {
    margin: 0 $base-spacing-unit-tiny 0 0;
  }

  & h1, h2, h3, h4, p {
    margin: 0;
  }

  & h3 {
    color: $grey80;
  }
}

/* Style Guide Feature Block */

.sty-blk {
  margin: $base-spacing-unit-small 0;
  background-color: $grey10;
  border: solid 1px $grey20;

  & h2 {
    text-transform: uppercase;
  }

  &-git {
    padding: $base-spacing-unit 0 0 0;
    text-align: right;
  }
}

/* Style Guide Component Breakdown */

.sty-cmp {
  &-preview {
    padding: $base-spacing-unit-tiny;
    border: solid 1px $grey20;
  }
  &-markup {
    padding: 0 $base-spacing-unit-tiny;
    border: solid 1px $grey20;
  }
  &-styling {
    padding: $base-spacing-unit-tiny;
    margin: 0 0 $base-spacing-unit-small;
    border: solid 1px $grey20;
    text-align: left;

    & table {
      width: 100%;
    }
    & th, td {
      padding: $base-spacing-unit-tiny 0 $base-spacing-unit-tiny $base-spacing-unit-tiny;
    }
    & th {
      background-color: $grey20;
    }

    & td {
      border: solid 1px $grey20;
    }
  }
  &-notes {
    padding: $base-spacing-unit-tiny 0 $base-spacing-unit-tiny $base-spacing-unit-small;
    border: solid 1px $grey20;
  }
}
