// Place all the styles related to the styleguide controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Pugin */
@import "../../../pugin/app/assets/stylesheets/application";

/* Components */
@import "components/colour-palette";
@import "components/navigation";
@import "components/preview-blocks";

/* Elements */
@import "elements/typography";

/* Objects */
@import "objects/layouts";

/* Settings */
@import "settings/spacing";

/* Icon Fonts */
$fa-font-path: '/_fonts';
@import '../../../node_modules/font-awesome/scss/font-awesome';

/* Prism */
@import '../../../node_modules/prismjs/themes/prism';
@import "settings/ukp-prism";

@import "shame";
