// Place all the styles related to the styleguide controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../../../pugin/app/assets/stylesheets/application";
@import "components/shame";

/* Settings */
@import "settings/navigation";

/* Icon Fonts */
$fa-font-path: '/_fonts';
@import '../../../node_modules/font-awesome/scss/font-awesome';

/* Prism */
@import '../../../node_modules/prismjs/themes/prism';
